{% load static tailwind_tags %}
<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About</title>
  <!-- <script src="https://cdn.tailwindcss.com"></script> -->
  {% tailwind_css  %}

  <style>
     /* <!-- nothing yet --> */
</style>
</head>
<body class="bg-slate-700">
    <nav class="bg-gray-800 sticky top-0 left-0 right-0 z-10">
        <div>
        <div class="flex max-w-6xl mx-2 px-2 py-1 items-center justify-between shadow">
            <!-- main div -->
            <div class="flex items-center space-x-4">
         <div class=" flex items-center text-white">
             <!-- title -->
            <svg class="w-9 h-9 mr-3 my-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" className="w-6 h-6">
  <path fillRule="evenodd" d="M9.315 7.584C12.195 3.883 16.695 1.5 21.75 1.5a.75.75 0 01.75.75c0 5.056-2.383 9.555-6.084 12.436A6.75 6.75 0 019.75 22.5a.75.75 0 01-.75-.75v-4.131A15.838 15.838 0 016.382 15H2.25a.75.75 0 01-.75-.75 6.75 6.75 0 017.815-6.666zM15 6.75a2.25 2.25 0 100 4.5 2.25 2.25 0 000-4.5z" clipRule="evenodd" />
  <path d="M5.26 17.242a.75.75 0 10-.897-1.203 5.243 5.243 0 00-2.05 5.022.75.75 0 00.625.627 5.243 5.243 0 005.022-2.051.75.75 0 10-1.202-.897 3.744 3.744 0 01-3.008 1.51c0-1.23.592-2.323 1.51-3.008z" />
</svg>
          <strong>GPA Calculator</strong> 
         </div>
            <div class="hidden md:flex items-center">
                <!-- primary -->
                <a class="text-white hover:text-gray-200 hover:font-bold hover:bg-slate-900 px-4 py-2 mx-1 my-1 rounded" href='{% url "go_home" %}'>Home</a>
                <a class="text-white hover:text-gray-200 hover:font-bold hover:bg-slate-900 px-4 py-2 mx-1 my-1 rounded" href="{% url 'go_cgpa' %}">CGPA</a>
                <a class="text-white hover:text-gray-200 hover:font-bold hover:bg-slate-900 px-2 py-2 mx-1 my-1 rounded" href="{% url 'go_sgpa' %}">SGPA</a>
                <a class="text-white hover:text-gray-200 hover:font-bold hover:bg-slate-900 px-2 py-2 mx-1 my-1 rounded" href="{% url 'go_contact' %}">Contact</a>
                <a class="text-white hover:text-gray-200 hover:font-bold hover:bg-slate-900 px-2 py-2 mx-1 my-1 rounded" href="{% url 'go_about' %}">About</a>
            </div>
            </div>
            <div class="md:hidden flex items-center">
                <!-- secondary -->
                <button class="menu-btn hover:bg-slate-900 rounded hover:font-bold">
                <svg class=" text-white w-10 h-10 py-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" className="w-6 h-6">
  <path fillRule="evenodd" d="M3 6.75A.75.75 0 013.75 6h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 6.75zM3 12a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 12zm8.25 5.25a.75.75 0 01.75-.75h8.25a.75.75 0 010 1.5H12a.75.75 0 01-.75-.75z" clipRule="evenodd" />
</svg>
</button>
            </div>
            </div>
            
            <!-- mobile menu starts here -->
            <div class="mobile-menu hidden transition-all duration-2000 ease-out">
            <div class="grid grid-cols-2  px-4 py-1 rounded pb-2">
                <a class="text-slate-100 hover:font-bold hover:bg-slate-600 hover:shadow px-1 py-2 rounded" href="{% url 'go_home' %}">Home</a>
                <a class="text-slate-200 hover:font-bold hover:bg-slate-600 hover:shadow px-1 py-2 rounded" href="{% url 'go_contact' %}">Contact</a>
                <a class="text-slate-100 hover:font-bold hover:bg-slate-600 hover:shadow px-1 py-2 rounded" href="{% url 'go_sgpa' %}">SGPA</a>
                <a class="text-slate-200 hover:font-bold hover:bg-slate-600 hover:shadow px-1 py-2 rounded" href="{% url 'go_about' %}">About</a>
                <a class="text-slate-100 hover:font-bold hover:bg-slate-600 hover:shadow px-1 py-2 rounded" href="{% url 'go_cgpa' %}">CGPA</a>
                
            </div>
        </div>
        </div>
    </nav>

<!-- main div start --> 
<div class="px-5 py-3 mx-2 my-2 md:mx-20 md:my-5">
        <div class="text-slate-100 text-4xl font-bold">
            <!-- title div -->
            Hey,
        </div>
    
    <!-- description div -->
    <div class="py-2 space-y-3 text-slate-300 font-mono md:text-justify text-sm">
        <p>I'm Shiva.</p>
        <p>A future mechanical engineer. Design aficionado. An Artist. A coder, too.</p>
        <p>To improve my skillset and put my Python and HTML knowledge to use, I created this GPA calculator online application.
        </p>
    </div>
    <hr class="text-slate-300">

    <!-- connect links -->
    <div class="">
        <!-- heading -->
        <div class="py-3 text-slate-200 text-xl md:text-xl font-bold">
            Get in touch with me,
        </div>
        <div class="text-sm text-slate-300 font-mono space-y-3 md:px-10">
            <p class="">
                Text me on <a target="_blank" href="https://wa.me/+919538486239"><b><u>WhatsApp</u></b> </a>
            </p>
            <p class="">
                Or Write me an <a target="_blank" href="mailto:shivakrao122000@gmail.com"><b><u>E-mail</u></b></a>
            </p>
            <p class="#">
                Connect with me on LinkedIn. 
            </p>
            <p class="pb-2">
                Or (on a completely random note) follow me on Pinterest.
            </p>
        </div>
        <hr class="text-slate-300">
        <div class="mt-4 pt-4">
            <p class="text-slate-300 font-mono text-sm">
                You can find out more details about the project on the about page
            </p>
            <div class="grid grid-cols-2 gap-3 py-3">
                <!-- heading -->
                <div class="flex flex-col">
                    <div class="text-slate-300 text-sm py-1 font-mono">
                        Visit about page
                    </div>
                    <!-- end buutons -->
                        <button onclick="location.href='{% url 'about' %}'" class="bg-indigo-500 flex justify-around items-center px-3 py-2 text-lg md:text-xl text-slate-100 hover:bg-indigo-600 hover:text-white hover:shadow hover:font-bold rounded">About
                            <img class="h-10 w-10"
                              src="{% static 'GPA/about.svg' %}" alt="">
                          </button>
                </div>
                <div class="flex flex-col">
                    <div class="text-slate-300 text-sm py-1 font-mono">
                        or go back
                    </div>
                        <button onclick="location.href='{% url 'home' %}'" class="bg-indigo-500 flex justify-around items-center px-3 py-2 text-lg md:text-xl text-slate-100 hover:bg-indigo-600 hover:text-white hover:shadow hover:font-bold rounded">Home
                            <img class="h-10 w-10"
                              src="{% static 'GPA/light-bulb.svg' %}" alt="">
                          </button>
                </div>
                </div> 
        </div>
    
<!-- main div end -->    
</div>  


<script>
      const btn = document.querySelector('button.menu-btn');
      const menu = document.querySelector('.mobile-menu');
    
    <!-- event listener -->  
    btn.addEventListener('click', () => {
        menu.classList.toggle('hidden');
    });
  </script>    
</body>
</html>